.navbar {
    background-color: #3f51b5 !important;
    overflow: hidden;
}

.alumnLogoDiv {
    text-align: center !important;
    height:64px;
    overflow:hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}
.alumnLogo{
    max-width: 150px;
}

.iconLink {
  margin-right: 10px;
}

.badge-error {
  color: #FF0000;
}

@media (max-width: 600px) {
    .alumnLogo{
        max-width: 100px;
        margin-top:7px;
    }        
}

.snackNoti {
  width: 150px !important;
  min-width: 100px !important;
}
